@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height 100%;*/
}

body{
    background-image: linear-gradient(to left,#64BEBF, #007A85);
}
/*todo conteúdo do meio da página*/
main{ 
    background-color: #DAF6FF;  /*cor de fundo*/
    border-radius: 10px;           /*pontas das bordas arredondadas*/
    box-shadow: 5px  5px  15px #010e0f8e;        
    width: 600px;                 /*largura do maio da página*/
    padding: 10px;                /*tamanho da caixa do meio da página*/
    margin: auto;                 /*posicionamento da caixa no meio da página*/
}

h1{
    color: #003F63;
    text-align: center;
    text-shadow: 1px  1px  2px #387279;
}

h2{
    color:#64BEBF ;
}

p{
    text-align: justify;
    
}